[alias]
  acm = commit -am
  ca = commit --amend
  cm = commit -m
  cfu = commit --fixup
  c = commit
  pl = pull
  ps = push
  psf = push --force-with-lease
  pt = push --tags
  ss = status -s
  s = status
  d = diff
  df = diff --color --color-words --abbrev
  dfc = diff --cached
  pr = pull --rebase
  prr = pull --rebase --prune
  a = add
  aa = add -A
  b = branch
  delete-branch = branch -D
  ch = checkout
  chb = checkout -b
  crp = cherry-pick
  fc = fetch
  ft = fetch --tags
  t = tag
  rb = rebase
  sh = show
  changelog = "!f() { git tag | grep RELEASE | tail -n 1 | xargs -I{} git log {}...master --oneline | grep 'Merge pull request' | awk '{ print $1 }' | xargs git show; }; f;"
#  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  fhs = "!f() { git flow hotfix start `date +%Y%m%d%H%M_`$1; }; f"
  ffs = "!f() { git flow feature start `date +%Y%m%d%H%M_`$1; }; f"
  cb = "!f() { git checkout -b `date +%Y%m%d%H%M_`$1; }; f"
  sweep = "!f() { git branch --no-color --merged | grep -v master | xargs -n 1 git branch -D; }; f"
  merged = "!f() { git branch --no-color -r --merged | grep -v master | sed 's/origin\\///'; }; f"
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  l1 = log --oneline
  g = grep
  fixup = commit --amend -C HEAD
  gsub = "!f() { git-gsub }; f"
  topic-branch = "!f() { git-topic-branch }"
  backup = "!f() { git-backup }"
  pull-request = browse-remote --pr
[color]
  ui = always
[apply]
  whitespace = fix
[core]
  pager        = less
  editor       = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
  ff = false
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[user]
  name = machupicchubeta
  email = machupicchubeta@gmail.com
[pull]
  rebase = true
[push]
  default = simple
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
[rerere]
  autoupdated = 1
  enabled = 1
[rebase]
  autosquash = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
