export PATH=$PWD/bin:$PATH

alias rs='rails server'
alias rc='rails console'
alias rr='rails runner'
alias test='spring stop && RAILS_ENV=test rk db:reset db:migrate db:seed spec'
alias retest='rspec --only-failures'
alias next_failure='rspec --next-failure'

