export PATH=$PWD/bin:$PATH

alias rs='DISABLE_SPRING=1 rails server'
alias rc='DISABLE_SPRING=1 rails console'
alias rr='DISABLE_SPRING=1 rails runner'
alias unicorn_daemon='DISABLE_SPRING=1 bundle exec unicorn_rails --port 3000 -D'
alias unicorn='DISABLE_SPRING=1 bundle exec unicorn_rails --port 3000'
alias sidekiq='DISABLE_SPRING=1 bundle exec sidekiq -C config/sidekiq.yml'
alias sidekiq_daemon='DISABLE_SPRING=1 bundle exec sidekiq -C config/sidekiq.yml -d'
alias all_test='DISABLE_SPRING=1 RAILS_ENV=test rk db:reset db:migrate db:seed spec'
alias feature_test='DISABLE_SPRING=1 RAILS_ENV=test rk db:reset db:migrate db:seed spec:features'
alias test='spring stop && RAILS_ENV=test rk db:reset db:migrate db:seed spec:controllers spec:decorators spec:helpers spec:lib spec:models'
alias retest='DISABLE_SPRING=1 rspec --only-failures'
alias next_failure='DISABLE_SPRING=1 rspec --next-failure'

